<h1><%= @board.name %></h1>
<%= render 'form' %>

<% @posts.each do |p| %>
  <!--<%= p.name %><br>
  <%= p.email %><br>
  <%= p.sub %><br>
  <%= p.com %><br>-->
  <hr>
  <div class="threadpost" id="">
    <% if not p.upfile_file_name.nil? %>
      檔名：<%= link_to p.upfile_file_name, p.upfile.url %>-(<%= p.upfile_file_size / 1000 %> KB,<br>
      <%= image_tag p.upfile.url(:medium) %>
    <% end %>
    <span class="title"><%= p.sub %></span>
    名稱:<span class="name"><%= p.name %></span> [<%=Time.at(p.created_at) %>] No.<%= p.id %>
    <div class="quote"><%= p.com %></div>
  </div>
  <br>
  <br>
  <br>
<% end %>
